/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #191919;
  background-color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  overflow: hidden;
}

button {
    background-color: #ffffff;
    border: none;
    color: #191919;
    padding-top: .625em;
    padding-bottom: .625em;
    padding-right: .25em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 14px;
    font-family: "Work Sans", sans-serif;
}

a {
  color: #191919;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  border: none;
}

.separator {
  color: #555;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  max-width: 128px;
}

.posts a {
  color: #444;
}

.posts a:hover {
  color: #777;
}

.posts-list {
  list-style-type: none;
}

.project-list {
  list-style-type: none;
}

.posts-list li {
  text-align: left;
  line-height: 1.75em;
  display: block;
}

.project-list li {
  text-align: left;
  display: block;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
}

.title {
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

.tagline {
  width: 100%;
  color: #787878;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5em;
  display: block;
}

.posts {
  border-top: none;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
  max-width: 900px;
}

.page-content-container {
  border-top: none;
  margin-top: .5em;
  padding-top: .5%;
  padding-bottom: 1.25em;
}

.studio-info-container {
  border-top: none;
  margin-top: 0em;
  padding-top: 0%;
  padding-bottom: 1.5em;
}

.project-content-container {
  border-top: none;
  margin-top: 0em;
  padding-top: 0%;
  padding-bottom: 2.0em;
}

.footer {
  font-size: 0.95em;
  border-top: 1px solid #e7e7e7;
  padding-top: 1.25em;
  padding-bottom: 1.5em;
  overflow: hidden;
  float: center;
  text-align: center;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#date {
  font-size: 16px;
  padding-top: 0.25em;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #787878;
}

#cover-photo-container,
#info-container
{
  display: block;
  width: 100%;
  overflow: hidden;
}

#info-container {
padding-top: 5%;
margin-top: 4em;
}

#top-container {
padding-top: 5%;
margin-top: 3em;
}


#content-container {
padding-top: 5%;
margin-top: 4em;
}

#title {
  color: #4a4a4a;
  margin-bottom: 0.35em;
  font-size: 3em;
  line-height: 40px;
  text-transform: uppercase;
}

#previous-button {
  font-weight: 300;
  hover
}

#next-button {
  font-weight: 600;

  cursor: auto;
}

.post {
  line-height: 24px;
  max-width: 725px;
  clear: both;
}

.post h2 {
  margin-top: 1.25em;
  margin-left: -0.5em;
  margin-bottom: 1.25em;
}

.post a,
#about a {
  border-bottom: none;
}

.post a:hover {
  border: none;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  margin-bottom: 1.45em;
  text-align: justify;
}

.post ul, .post ol {
  margin-left: 0em;
  margin-bottom: 0em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
.scroll-img {
  border: 1px solid red;
  width: 680px;
  height: 142px;
  overflow: hidden;
  font-size: 0;
}
.scroll-img ul {
  width: 700px;
  height: 600px;
  margin: 0;
}
.scroll-img ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
}

#demo5.scroll-img ul {
  width: 1500px;
}
#demo5-btn {
  width: 680px;
  padding-top: 10px;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

.content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 3.0em
}

.header {
  padding-top: 2.5em;
  font-size: 1.1em;
}

.post-link {
  margin-bottom: 0.5em;
}

.project-list-link {
  margin-bottom: 0.4em;
  color: #191919;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

.about-contact-link {
  margin-bottom: 0.5em;
  color: #191919;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

.project-text {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 1.45em;
  text-align: justify;
  color: #191919;
}

.project-title {
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: .5em;
  color: #191919;

}

.project-list-year {
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  color: #191919;
  padding-top: .5em;
  padding-bottom: .5em;

}

.post-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: none;
}

.study-list-link {
  margin-bottom: 0.5em;
  color: #191919;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

.idea-list-link {
  margin-bottom: 0.5em;
  color: #191919;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}


/*****************************************************************************/
/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
  margin-top: 1.5em;
  margin-bottom: 1.45em;
  border-top: 1px dotted #e7e7e7;
}

.colophon p {
  margin-top: 1.25em;
  font-size: 0.95em;
  color: #777;
}
